<div class="content-asset"><!-- dwMarker="content" dwContentID="bc0OQiaaiMEMgaaadnJ8lrDMYt" -->
			
				<div class="bannr"><img src="http://demandware.edgesuite.net/aapk_prd/on/demandware.static/-/Library-Sites-Diesel/default/dwec1740e0/Diesel-Site-Unification/Images/faq-banner-1.jpg"></div>
			
			<div class="content-data"><!-- / right cntr start  \ -->
<div id="top" class="rightCntr">
<h2>SHIPPING TIMES AND COSTS - <u>Continental US</u></h2>

<hr>
<h3 style="text-align: justify;"><strong>STANDARD GROUND SHIPPING</strong><br>
<span style="font-size:14px;">Delivery in 7 to 10 business days<br>
$ 7.50</span><br>
<strong>SECOND DAY SHIPPING</strong><br>
<span style="font-size:14px;">Delivery in 2 business days<br>
$ 18.00</span><br>
<strong>OVERNIGHT SHIPPING</strong><br>
<span style="font-size:14px;">Delivery next business day<br>
$ 30.00</span></h3>

<h2><br>
SHIPPING TIMES AND COSTS - <u>Outside the continental US</u></h2>

<hr>
<h3 style="text-align: justify;"><em>Hawaii, Alaska</em><br>
<strong>SECOND DAY SHIPPING</strong><br>
<span style="font-size:14px;">Delivery in 2 business days<br>
$25</span><br>
<strong>OVERNIGHT SHIPPING</strong><br>
<span style="font-size:14px;">Delivery next business day<br>
$ 30.00</span></h3>

<h3 style="text-align: justify;"><em>America Samoa, Federated States of Micronesia, Guam, Marshall Islands, Northern Mariana Islands, Palau, Puerto Rico, Virgin island</em><br>
<strong>USPS SHIPPING</strong><br>
<span style="font-size:14px;">Delivery in 7 to 10 business days<br>
$25</span></h3>

<h3 style="text-align: justify;"><em>APO/FPO</em><br>
<strong>USPS SHIPPING</strong><br>
<span style="font-size:14px;">Delivery in 7 to 10 business days<br>
$10</span></h3>

<h2><br>
ADDITIONAL DETAILS</h2>

<hr>
<h3 style="text-align: justify;"><strong>GROUND UPS</strong><br>
<span style="font-size:14px;">Processes and ships within 2 business days as received by 1pm ET (10am PT)&nbsp;on a business day.</span></h3>

<h3 style="text-align: justify;"><strong>SECOND DAY UPS</strong><br>
<span style="font-size:14px;">Processes and ships same day as received prior to 1pm ET (10am PT) on a business day.<br>
Second Day shipping to Rural Routes and remote locations typically arrives within 3 to 4 business days.</span></h3>

<h3 style="text-align: justify;"><strong>OVERNIGHT UPS</strong><br>
<span style="font-size:14px;">Processes and ships same day as received prior to 1pm ET (10am PT) on a business day.<br>
Overnight shipping to Rural Routes and remote locations typically arrives within 2 to 3 business days.</span></h3>

<h3 style="text-align: justify;"><strong>PICK UP IN STORE</strong><br>
<span style="font-size:14px;">You can order products on our shop.diesel.com and collect them from a Diesel Store of your choice. All you have to do is to select "Ship to a store near you" as your preferred delivery option at checkout and choose which store you'd like to have your order delivered to. The service is offered at no additional cost and the order will be delivered within 7-10 business days. You will receive an email when your order is ready for pick up. Remember to bring with you the order ID (printed or on cell phone).</span></h3>

<h3 style="text-align: justify;"><strong>US TAX POLICIES</strong><br>
<span style="font-size:14px;">Tax is based on the state and zip code in which the order is shipped to and all taxes will be added to the order total at checkout.</span></h3>
</div>
<!-- / right Cntr end \ --></div>

<p><a href="#top" class="back-arrow" style="display: inline;">Back to the top</a></p>
		</div>